body{
    margin:0;
    height:100vh;
    display:grid;
    grid:auto auto 1fr auto/auto;
}

header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:5px 50px;
    background-color: white;
}
footer{
    padding:40px 50px;
    background-color: lightgray;

}
header h1{
    margin:0;
    padding-left:30px;
    background:url(/images/favicon.png) no-repeat -20px center/50px;
}

header a{
    color:black;
    text-decoration: none;
}
.auth{
    display:flex;
    justify-content: flex-end;
    gap:10px;
    align-items: center;
}
.auth a{
    text-decoration:none;
    color:darkred;
    font-size:16px;
}
.auth.divider{
    color:black;
    padding:0 3px
}

.auth a:hover{
    border-bottom: 1px solid darkred;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: darkred;
}

.navbar.right-section{
    display:flex;
    align-items: center;
    margin-right: 100px;
}

.navbar .search-form {
    display: flex;
    gap: 5px;
    align-items: center;
}
.navbar .search-form input[type="search"] {
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar .search-form button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.logo a {
    display:flex;
    flex-direction:column;
    line-height:1.0;
    align-items:center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.menu a:hover{
    border-bottom: 2px solid white;
}

main{
    padding:10px 40px;
}
