body{
    margin:0;
    height:100vh;
    display:grid;
    grid:auto auto 1fr auto/auto;
}

header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:5px 50px;
    background-color: white;
}
footer{
    padding:40px 50px;
    background-color: lightgray;

}
header h1{
    margin:0;
    padding-left:30px;
    background:url(/images/favicon.png) no-repeat -20px center/50px;
}

header a{
    color:black;
    text-decoration: none;
}
.auth{
    display:flex;
    justify-content: flex-end;
    gap:10px;
    align-items: center;
}
.auth a{
    text-decoration:none;
    color:darkred;
    font-size:16px;
}
.auth.divider{
    color:black;
    padding:0 3px
}

.auth a:hover{
    border-bottom: 1px solid darkred;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: darkred;
}
.search-bar{
    display:inline-block;
    margin-right: 20px;
}

.search-form input[type="search"]{
    padding:5px 20px;
    border-radius:4px;
    border:1px solid #ccc;
    width:250px;
}

.logo a {
    display:flex;
    flex-direction:column;
    line-height:1.0;
    align-items:center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.menu a:hover{
    border-bottom: 2px solid white;
}

main{
    padding:10px 40px;
}

.center-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-title {
    position: absolute;
    top: 110px;
    font-size: 30px;
    font-weight: bold;
}

.box {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.box button {
    width: 100%;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}



/* center screen */
.auth-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card box */
.auth-card {
    width: 380px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* title */
.auth-title {
    text-align: center;
    margin-bottom: 5px;
}

.auth-subtitle {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

/* form */
.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-top: 10px;
    font-size: 14px;
}

.auth-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* button */
.auth-form button {
    margin-top: 20px;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.auth-form button:hover {
    background: rgb(173, 8, 8);
}

/* switch link */
.switch {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.switch a {
    color: #007bff;
    text-decoration: none;
}

label.upload img {
    display: block;
    border: 1px solid #333;
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.register-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #0056b3;
}

.auth-form a.register:hover {
    background-color: rgb(168, 39, 39);    /* 鼠标悬停变深蓝 */
}

.box a.login{
    display: inline-block;       
    padding: 10px 80px;           
    background-color: darkred;  
    color: #fff;                  
    text-decoration: none;        
    border-radius: 6px;          
    font-weight: bold;           
    font-size: 14px;
    text-align: center;
    margin: 15px 0;               
    cursor: pointer;
    transition: background-color 0.3s;
}
.error {
    color: red;
    font-size: 13px;
    display: block;
    margin-top: 5px;
}